.popup-overlay {
  position: fixed;
  inset: 0;

  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* căn lên trên */
  padding-top: 60px;
}

.popup-container {
  background: white;
  padding: 30px;
  max-width: 1000px;
  width: 95%;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.popup-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}

.popup-image img {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}

.popup-info {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 21px;
}

.product-name:hover {
  color: #673ab7;
}

.qv-header-info {
  margin-top: 10px;
  padding-bottom: 10px;
}

.qv-header-info b {
  font-weight: 600;
}
.qv-header-info span.line {
  padding: 5px;
  display: inline-block;
}
.product-price {
  font-size: 25px;

  font-weight: 500;
}

.size-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.size-box {
  padding: 8px 14px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  background: #f9f9f9;
  transition: border-color 0.2s ease;
}

/* Hover: border cam */
.size-box:hover {
  box-shadow: 0 0 0 2px #f47435;
  border-color: #f47435;
}

.size-box.selected {
  box-shadow: 0 0 0 2px #f47435;
  border-color: #f47435;
}

.quantity-add {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.label {
  font-size: 16px;
  font-weight: 500;
}

.quantity-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity-input {
  height: 45px;
  border-radius: 23px;
  width: 140px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  text-align: center;
  font-size: 16px;

  outline: none;
  transition: border-color 0.2s ease;
}

/* Nút giỏ hàng */

.divider {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin: 15px 0;
  margin-top: 40px;
}
